*{
    top: 0;
    left: 0;
    box-sizing: border-box;
    direction: rtl;
    color: #3A3F50;
    font-family: "DIN Next LT Arabic";
}

nav{
    background-color: #002C7F;
}
nav .navbar-nav .nav-item .nav-link{
    color: #fff;
}
nav .navbar-nav .nav-item .nav-link:hover{
  color: #00B398;
  border-bottom: solid 2px #00B398;
}
nav .navbar-collapse{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
}
nav .navbar-collapse form{
    display: flex;
    align-items: center;
}
nav .navbar-collapse form span{
    color: #fff;
    margin-right: 14px;
}
nav .login-button{
    color: #fff;
    border: solid 1px #fff;
    padding: 5px 30px;
    font-size: large;
}
nav .login-button:hover{
        color: #fff;
}
nav .sign-button{
    background-color: #00B398;
    color: #fff;
    margin-right: 14px;
    padding: 5px 30px;
    font-size: large;
}
nav .sign-button:hover{
    color: #fff;
}
 .fa-search{
    /*font-size:x-large;*/
    margin-left: 10px;
    color: #fff;
    font-size: 18px;
     margin-top: 2px;

}
.modal{
    background-color: #002c7f8c;
    padding-bottom: 20px;
}
#staticBackdropOption{
        background-color: transparent;

}
#staticBackdropOption .owner{
    background-color: #002C7F;
    color: #fff;
    width: 300px;
    border-radius: 5px;
    padding: 10px 0px;
    border: none;
    margin-bottom: 10px;
}
#staticBackdropOption .owner a{
    color: #fff;
}
#staticBackdropOption .staff{
    background-color: #00B398;
    color: #fff;
        width: 300px;
border-radius: 5px;
padding: 10px 0px;
border: none;
}
#staticBackdropOption .staff a{

    color: #fff;
}
.modal .modal-dialog{
    margin-top: 150px;
    border-radius: none;
}
.modal .modal-dialog .close{
text-align: left;
margin-top: 10px;
}
.modal h5{
    text-align: center;
}
.modal .social{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.modal form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal form div{
    width: 100%;
}

.modal .social .google{
    border-radius: 5px;
    border: none;
    /*padding: 0px 8px;*/
    background-color: #fff;
    box-shadow: 0px 2px 4px #898EA3;
    height: 42px;
    width: 250px;
}
.modal .social .google img{
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: -2px;
}
.modal .social .google a{
    text-decoration: none;
    color: #000;
}
.modal .social .facebook{
    background-color: #002C7F;
    border: none;
    border-radius: 5px;
    height: 42px;
    width: 265px;
}
.fa-facebook-square {
    color: #fff;
    font-size: 20px;
    margin: 0px 3px;
}
.modal .social .facebook a{
    text-decoration: none;
    color: #fff;
}
.modal .modal-content{
    padding: 0 30px;
}
.modal .modal-content .loss{
display: flex;
justify-content: end;
text-decoration: none;
color: #00B398;
}
.modal .modal-content a{
    color: #00B398;
text-decoration: none;
}
.modal .modal-content .click{
    background-color: #00B398;
    border: none;
    width: 70%;
    margin: 0 auto;
    font-size: large;
}
.form-check{
display: flex;
justify-content: start;
gap: 30px;
}
.modal-content{
    position: relative;
    padding-bottom: 50px;
}
#staticBackdropLogin .close,
#staticBackdropSign .close,
#staticBackdropOption .close,
#return .close{
  font-size: xx-small;
    /* top: 10px; */
    right:90% ;
     position:absolute;
     border-radius: 50%;
     padding: 5px;
     border: solid 1px gray;}
#return input{
width: 90%;
margin: 10px auto 0;
padding: 5px;
border: solid 1px gray;

}
#return button{
    color: #fff;
    margin-top: 30px;
}

/* input search */
.inp {
    display: none;
}
.inp input{
width: 100%;
padding: 10px 20px;
border: none;
font-size: large;
}
.inp input:focus{
    outline: none;
}
/*  heroSection*/
.heroSection{
background-image: url("../img/hero-section.png");
height: 60vh;
background-size: cover;
position: relative;

}
.heroSection .heroSection-content{
position: absolute;
top: 50%;
right: 10%;
transform: translate(0%, -50%);
}
.heroSection h1{
    font-size: 35px;
    color: #002C7F;
    margin-bottom: 20px;
}
.heroSection p{
        color: #002C7F;
font-size: 20px;
margin-bottom: 20px;
}
.heroSection .heroSection-content button{
    border: solid 1px #898EA3;
    background-color: transparent;
    padding:10px 20px;
    border-radius: 5px;
    color: #898EA3;
}
.heroSection .heroSection-content .add-button{
    background-color: #00B398;
    border: none;
    color: #fff;
}
h2{
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
}
/* //////////// search-job section //////////////// */
.search-job {
    margin-top: 50px;
}
.search-job-bb{
        background-color: #E7EAF6;
    padding: 70px 0px 0px 0px;
}
.more{
    justify-content:space-between ;
}
.more .morebut{
    margin:0px 0px 0px 40px;
    height: 40px;
    padding: 0px 30px;
    border: solid 2px #00B398;
    color: #00B398;
    background-color: transparent;
}
.search-job .row{
    margin-top: 50px;
}
.search-job .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 200px;
}
.search-job img{
width: 60px;
height: 60px;
margin-bottom: 10px;
}

/* how-work */
.how-work{
    background-color: #E7EAF6;
    padding: 50px 0px;
    margin-top: 50px;
}
.how-work .row{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    margin-top: 50px;
}
.how-work .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    border: none;
    background-color: transparent;

}
.how-work .card span{
    margin: 10px 0px;
}
.how-work .card img{
height: 100px;
width: 100px;


}

.how a{
    color: #00B398;
}
.how .cc-content .row{
    margin: 20px 0px;

}
.how .cc-content p{
    width: 80%;
    margin: 0 auto;
}
.how .cc-content img{
    width: 70%;
    margin: 0 auto;
}
.how h6{
    font-size: 30px;
      width: 80%;
    margin: 0 auto 20px ;
}
.brief h2{
    font-weight: 500;
}
.brief p{
    font-size: large;
}
.brief .attention span{
    font-weight: bold;
    font-size: larger;
}
.brief-content .brief-content-Op{
    border: solid 2px gray;
border-radius: 5px;
width: 250px;
padding: 0;
margin: 0 auto;

}
.brief-content .brief-content-Op li {
    text-align: center;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    border-radius: 5px;


}
.brief-content .brief-content-Op li .staff{
background-color: #00B398;
color: #fff;
}

.brief-content .brief-content-Op li a{
    width: 100%;
    padding: 15px 0;
    color: gray;
}




/* police */
.policy h5{
font-size: 25px;
margin: 20px 0px;
}

.memberPage li{
    font-size: large;
    line-height: 2;
}
.memberPage span{
    font-weight: bold;
}
/* card-membership */
.card-membership{
    margin-top: 50px;
    text-align: center;
}
.card-membership #payment .modal-dialog{
width:100% ; margin: 0 auto;}
.card-membership #payment .modal-content{
    width:1000px; left: 50%; top: 80px; padding-bottom: 50px;
}
.card-membership #payment .close{
    font-size: xx-small;
    top: 10px;
    right:95% ;
     position:absolute;
     border-radius: 50%;
     padding: 5px;
     border: solid 1px gray;
}

.card-membership #payment .right{
    width: 80%;
    margin: 0 auto;
}
.card-membership #payment .card{
min-height: 70px!important;
background-color: #002C7F;
color: #fff;
}
.card-membership #payment .card span,
.card-membership #payment .card h5{
color: #fff;
}
.card-membership #payment .center{
    /* border-right: solid 1px gray; */
    padding: 0 10px;
}
.card-membership #payment .form-check label{
    color: gray;
}
.card-membership #payment .center h5{
    text-align: right;
    margin-bottom: 40px;
    font-size: 30px;
}

.card-membership #payment .center form{
    text-align: right;
}
.card-membership #payment form button{
    color: #fff;
    width: 100%;
}
.card-membership p{
    font-size: 23px;
    color: gray;
}
.card-membership .row{
    margin-top: 50px;
}

.card-membership .row .card{
    background-color: #E7EAF6;
    border: solid 1px #898EA3;
    height: 350px;
    padding: 20px 0px;
    width: 100%;
}
.card-membership .row .card ul{
    list-style: none;
}

.card-membership .row .card button{
    color: #00B398;
    border: solid 2px #00B398;
    width: 120px;
    margin: 0 auto 20px auto;
    border-radius: 5px;
    padding: 5px 0px;
}
.card-membership .row .card button:hover{
 background-color: #00B398;
 color: #fff;
}
.card-membership .row .card span
{
    font-size: 20px;
}
.card-membership .row .card h5{
    font-size: 40px;
    margin: 20px 0px;
}
.card-membership li{
    text-align: right;
}
/* search-job */
.search-job{
    width: 100%;
    margin-top: 50px;
}
.search-job .container .row{
    width: 95%;
    margin: 0 auto;
}
.search-job ul li{
    margin-bottom: 10px;
}
.search-job  button{
    border: solid 1px #898EA3;
    background-color: transparent;
    padding:10px 20px;
    border-radius: 5px;
    color: #898EA3;
    margin-top: 50px;
}
.search-job  .add-button{
    background-color: #00B398;
    border: none;
    color: #fff;
}
.search-job .image{
    width: 90%;
    margin: 0 auto;
}
.search-job .image img{
    width: 100%;
    height: 100%;
}


/* brief-content */
.brief{
    background-color: #E7EAF6;
    min-height: 90vh;
    padding-top: 50px;
    padding-bottom: 50px;
}
.brief-content{
    background-color: #Fff;
    padding: 30px;
    border-radius: 5px;
}

.brief .attention{
    background-color:#00b39845 ;
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
}

/* terms */
.terms .container .dropdown button{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border: none;
}
.terms .container .dropdown button:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
.terms .container .dropdown ul{
    text-align: right;
    padding-right: 20px;
    width: 100%;
}

/* search */
.search .title{
    display: flex;
    align-items: center;
}
.search .row .left{
    align-items: start;
    flex-wrap:wrap ;
}
.search .title img{
    width: 50px;
}
.search .row .card{
    width: 49%;
    margin-bottom: 20px;
    height: 250px;
    padding-top: 20px;
    padding-right: 20px;
}
.search .row .right{

    background-color: #E7EAF6;
    padding-top: 50px;
}

.search .row .right input:focus{
    /* border: none; */
    outline: none;
}

/* profile */
.profile {
    padding-top: 50px;
    background-color: #E7EAF6;
}
.profile .card1{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 5px;

}
.profile .card1 .off{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profile .card1 p{
    font-size: 20px;
}
.profile .card1 button{
    background-color: #00B398;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto;
}

.profile .card2{
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 5px;    margin-top: 20px;
}
.profile .card2 .title{
    display: flex;
    justify-content: space-between;
}
.profile .card2 .title span{
    font-size: 20px;
}
.profile .card2 .title a{
    color: #00B398;
    text-decoration: none;
    display: flex;
    align-items: center;

}
.profile .card2 .title a span{
    /* color:red; */
}
.profile .card2 img{
    width: 30px;
    margin-left: 10px;
}
.profile .card2 .cont nav{
    width: 20%;
    background-color: #E7EAF6;
    border: solid 1px #898EA3;
}
.profile .card2 .cont nav a{
    color: #000;

}
.profile .card2 .cont nav a:hover{
    background-color: #fff;

}
.profile .card2 .cont div{
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile .card2 .cont div img{
    width: 120px;
    margin: 0 auto 10px auto;
}
.profile .card3{
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 5px;    margin-top: 20px;
}
.profile .card3 .title{
    display: flex;
    justify-content: space-between;
}
.profile .card3 .title span{
    font-size: 20px;
}
.profile .card3 .title a{
    color: #00B398;
    text-decoration: none;
}

.profile .card3 img{
    width: 130px;
    height: 130px;
    margin: 0 auto 10px ;
}
.profile .recent{
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 5px;    margin-top: 20px;
}
.profile .recent ul li{
    list-style: none;
}
.profile .recent .title{
    display: flex;
    justify-content: space-between;
}
.profile  .recent .title span{
    font-size: 20px;
}
.profile .recent .title a{
    color: #00B398;
    text-decoration: none;
}
.profile .recent li span{
    font-size: larger;
}
.profile .recent li div{
    color: #898EA3;
    font-size: small;
}
.profile .recent li .fa-clock,
.profile .recent li .fa-user{
    font-size: small;
    color: #898EA3;
}
.profile .card4{
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 5px;    margin-top: 20px;
}

.profile .card4 .title{
    display: flex;
    justify-content: space-between;
}
.profile .card4 .title span{
    font-size: 20px;
}
.profile .card4 .title a{
    color: #00B398;
    text-decoration: none;
}
.profile .cardRight1{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.profile .cardRight1 div{
    position: relative;
    margin-bottom: 10px;
}
.profile .cardRight1 div input{
    display: none;
}
.profile .cardRight1 .personalPhoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
.profile .cardRight1 .camera{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.profile .cardRight1 a{
    text-decoration: none;
    color: #002C7F;
}
.profile .cardRight2{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
.profile .cardRight2 div{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}
.profile .cardRight2 div span{
    font-size: 20px;
}
.profile .cardRight2 div .add{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #00B398;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    color: #00B398;
    margin: 0;
}
/* staffProfile */
.staffProfile .cardRight2  img{
    width: 30px;
}
.staffProfile .card1 ul li{
    list-style: none;
    margin: 10px 0px;
    font-size: large;
}

/* staffOption */
.staffOption .row .row img{
    width: 20px;
    height: 15px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;;
}
#flag img {
    width: 20px;
    height: 15px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;

}
.staffOption .row .row .job{
    border: solid 1px #E7EAF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    margin-bottom: 20px;
    cursor: pointer;
}
.staffOption .row .row .job:hover{

    border: solid 1px #00B398;
}
.staffOption .row .sub{
    display: flex;
    justify-content: end;

}
.staffOption .row .sub button{
    background-color: #00B398;
    border: none;
    color: #fff;
    padding: 5px 30px;
    border-radius: 5px;
}

.staffProfile .cardRight2  img{
    width: 30px;
}
.staffProfile .card1 ul li{
    list-style: none;
    margin: 10px 0px;
    font-size: large;
}

/* staffOption */
.staffOption .container .row{
    width:90%;
    margin: 0 auto;
}
.staffOption .row .row img{
    width: 70px;
    margin-bottom: 40px;
}
.staffOption .row .row .job{
    border: solid 1px #E7EAF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
    margin-bottom: 20px;
    cursor: pointer;
}

.staffOption .row .sub{
    display: flex;
    justify-content: end;

}
.staffOption .row .sub button{
    background-color: #00B398;
    border: none;
    color: #fff;
    padding: 5px 30px;
    border-radius: 5px;
}
.staffOption .row .sub .back{
    background-color: transparent;
    color: #CBCFE9;
    border: solid 1px #CBCFE9;
}

.staffOption  .leftOp{
    background-color: #E7EAF6;
    padding-top: 50px;
    min-height: 100vh;
    position: relative;
}
.staffOption  .leftOp .form-check-input:focus{
    color: #00B398;
    background-color: #00B398;
    box-shadow: none;
}
.staffOption  .leftOp .dropdown{
    border: solid 1px gray;
    width: 50%;
    border-radius: 5px;
    margin-right: 50px;
}
.staffOption  .leftOp .dropdown a{
    border: none;

}
.staffOption  .leftOp .dropdown a:focus{
    box-shadow: none;
}
.staffOption  .leftOp .dropdown .dropdown-menu{
    margin-left: -155px!important;
    position: relative;
    width: 100%;
    padding-right: 10px;
    background-color: transparent;
}
.staffOption  .leftOp .dropdown .ssb{
    margin-left: -180px!important;

}
.staffOption  .leftOp .dropdown .dropdown-toggle{
    background-color: transparent;
    color: #000;
    border: none;
}
.staffOption  .leftOp .dropdown button{
    color: #00B398;
    border: solid 1px #00B398;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    left: 60%;
    margin-top: 10px;
}
.staffOption  .leftOp img{
    width: 70%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
}
.staffOption .row .row  .one,
.staffOption .row .row  .two,
.staffOption .row .row  .three,
.staffOption .row .row  .four,
.staffOption .row .row  .five,
.staffOption .row .row  .six,
.staffOption .row .row  .seven{
    border: solid 1px #898EA3;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.staffOption .row .row input:focus{
    outline: none;
}
.staffOption .row .row  .one span {
    background-color: #E7EAF6;
    padding: 5px 10px;
    border-radius: 16px;
}
.staffOption .row .row h5{
    /* font-size: 23px; */
}
.oneinter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.oneinter div .group{
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    width: 80%;
}

.staffOption .row .row  .two input{
    width: 90%;
    padding:5px 10px;
}
.staffOption .row .row  .three .fa-location-dot{
    background-color: #002C7F;
    color: #00B398;
    padding: 5px 15px;
}
.staffOption .row .row  .three input{
    width: 100%;
    padding:5px 10px;
    border: none;
}
.staffOption .row .row  .three input:focus{
    border: none;
    outline: none;
}
.staffOption .row .row  .three div{
    width: 90%;
    border: solid 1px #898EA3;
    display: flex;
    align-items: center;
    background-color: #002C7F;
}

.staffOption .row .row  .four span {
    background-color: #E7EAF6;
    padding: 10px 10px;
    border-radius: 5px;
}
.staffOption .row .row  .five div{
    width: 90%;
    padding: 5px 10px;
    border: solid 1px #898EA3;
}
.staffOption .row .row  .five div span {
    background-color: #E7EAF6;
    padding: 5px 10px;
    border-radius: 16px;
}
.staffOption .row .row  .six .fa-dollar-sign{
    background-color: #002C7F;
    color: #00B398;
    padding: 5px 15px;
}
.staffOption .row .row  .six input{
    width: 100%;
    padding:5px 10px;
    border: none;
}
.staffOption .row .row  .six input:focus{
    border: none;
    outline: none;
}
.staffOption .row .row  .six div{
    width: 40%;
    border: solid 1px #898EA3;
    display: flex;
    align-items: center;
    background-color: #002C7F;
}
/* information */
.information{
    background-color: #E7EAF6;
    padding: 50px 0px;

}
.information .container{
    margin-top: 20px;

}
.information h2{

    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
    font-weight: 500;
}

.information .informationContent form .row{
    flex-wrap: nowrap;

}
.information .informationContent form .bb{
    border: solid 1px  #CBCFE9;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-right: 0;
    padding-left: 0;
}
.information .informationContent .row form{
    border: solid 1px  #CBCFE9;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-right: 0;
    padding-left: 0;
}
.information .informationContent .header{
    background-color: #CBCFE9;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;


}
.information .informationContent p{
    font-size: larger;
}
.information .informationContent{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.information .informationContent button{
    background-color: #00B398;
    border: none;
    color: #fff;
    width: 110px;
    float: left;
}
.information .logo {
    border: solid 1px  #CBCFE9;
    border-radius: 5px;
    width: 70%;

}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .information .logo {
        margin: 0 auto;
    }
}
.information .logo .header{
    display: flex;
    justify-content: start;
}
.information .logo div{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.information .logo  div input{
    display: none;
}
.information .logo  .personalPhoto{
    width: 180px;
    height: 180px;
    border-radius: 50%;

}
.information .logo  .camera{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.information input:focus{
    box-shadow: none;
}

/* addJob */
.addJob .steps ul{
    justify-content: space-around;
}

.addJob .steps ul li div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 1px #3A3F50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.addJob .steps ul li h5{
    font-size: 30px;
    margin-right: 10px;
}
.addJob .row {
    flex-wrap: nowrap;
}
.addJob .row .over{
    margin-top: 10px;
    height: 140px;
    /* background-color: red; */
    overflow-y: scroll;
}
.addJob .row .over::-webkit-scrollbar {
    width: .4em;
}

.addJob .row .over::-webkit-scrollbar-track {
    background-color: #CBCFE9;
    margin-block: 0;
    border-radius: 10px;
}

.addJob .row .over::-webkit-scrollbar-thumb {
    background-color: #898EA3;
    border-radius: 10px;
    width: .4em;
}

/* contract */
.contract {
    background-color: #E7EAF6;
    padding-top: 50px;
    min-height: 90vh;
}
.contract .container{
    background-color: #fff;
    padding: 30px 0px;
    border-radius: 5px;

}
.contractTop {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contractTop div {
    background-color: #002C7F;
    padding: 0;
    height: 40px;
    border-radius: 5px;
    /* border: solid 1px #898EA3; */
}
.contractTop div input{
    height: 100%;
    padding-right: 10px;
}
.contractTop div input:focus{
    outline: none;

}
.contractTop div .fa-magnifying-glass{
    color: #fff;

    /* background-color: #002C7F; */
    padding: 10px 20px;
}
.contract .nav{
    border: solid 2px  #898EA3;
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    border-radius: 5px;
    height: 40px;
    /* margin-right: 100px; */

}
.contract .nav .one{
    background-color: #002C7F;

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contract .nav .two{
    /* background-color: #002C7F; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contract .nav .one a{
    color: #fff;
}
.contract .nav .two a{
    color: #898EA3;

}
.contract table{
    width: 90%;
    margin: 30px auto 0;
    border-radius: 5px;
    border: solid 1px #898EA3;
    min-height: 300px;

    margin-bottom:20px;
    /* background-color: red; */
}
.contract .tableTwo{
    display: none;
}
.contract table .title{
    background-color: #CBCFE9;
    padding: 10px;
}
.contract table tr {
    display: flex;
    justify-content: space-around;

}
.contract table .image{
    display: flex;
    justify-content: center;
}

.option_item {
    display: block;
    position: relative;
}

.option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.option_item .option_inner {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 58px 40px;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}

.option_item .checkbox:checked~.option_inner.job {
    border-color: #00B398;
    border-width: 2px;
    color: #3b5999;
}
